/* css styles */
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.toc, .toc a {
    font-family: "Russo One", sans-serif;
}

.navbar, .navbar a, .navbar-brand {
    font-family: "Russo One", sans-serif;
    background-color: #31035f;
}

.r {
    background-color: #F3E8FE;
}


a {
    color: #34d694; /* Universal link color */
}

a:hover {
    color: #2caf7b; /* Universal hover color */
}
